<ion-view>
      <ion-content ng-controller="table">
          <div class="item item-trnsIndex" >
                  
                </div>
        <div class="item text-center" >
          <h2>Your Orders</h2>
        </div>
                
       <table border="1" class="item-white text-center" style="width:100%;border: 1px solid black;padding: 15px; ">
        <thead>
            <tr>
              <th>Item&nbsp;&nbsp;</th>
              <th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>Qty&nbsp;&nbsp;</th>
              <th>Price&nbsp;&nbsp;</th>
              <th>sub Total</th>
              <th></th>
              <th>&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in OrderedItem" class="text-center" >
              <td><img src="{{order.image}}" style="width:100px;">&nbsp;&nbsp;&nbsp;</td>
              <td>
                  <div class="button-bar">
                    <label class="text-center">{{order.item}}</label>
                  </div>
              </td>
              <td>
                <div class="button-bar">
                  <input type="text" style="width:24px" ng-keyup="getsubtotal($event,$index);" name="quantity"class="item item-input "  id="quantity" value="{{order.quantity}}">
              </div>
                <!--  -->
              </td> 

              <td>
                  <div class="button-bar">
                    <input type="text" style="width:25px" readonly name="price"class="text-center" id="price" value="{{order.price}}">
                  </div>
              </td>
              <td>
                  <div class="button-bar">
                    <input type="text" style="width:60px" readonly name="subtotal"class="text-center" id="subTotal" value="{{order.subTotal}}">
                  </div>
              </td>
              <td>
                <button ng-click="removeOrder($index);" class="button button-small button-assertive"><i class="icon ion-close icon-assertive"></i></button></td>
              <td></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
        </tbody>
      </table>
      <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap">

        <div class=" button button-small  icon-right  text-center">
        Total: 
          {{ getTotal(); }}AED

        </div>
        <div class=" button button-small button-assertive  icon-right  text-center" id="food">
        Get Food
        </div>
<div class="  button-small  icon-right  text-center">
        &nbsp;
        </div><div class="  button-small  icon-right  text-center">
        &nbsp;
        </div>

      </ion-item>
    </ion-list>
      </ion-content>
  </ion-view>
