<ion-view>
  	<ion-content ng-controller="subMenu ">
      	<div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <label class="item-input-wrapper">
              <input id="searchKey" type="search" placeholder="Search" ng-model="item" >
            </label>
          </label>
        </div>

      	<ion-list class="">
        	<div ng-repeat="menu in Finalitem  | filter:item">
          		<ion-item class="item  text-center">
                    {{menu.item}}
          		</ion-item>
			<div class="row responsive-md" > 
	            <div class="col  item-white">
	               	<img class="text-center" style="text-align: center;" width="100%" src="	img/bri3.jpg"  >


	               	<h4>Quantity</h4>
			        <div class="button-bar">
			            <button class="button" onclick='var total= $(".quantity1").val();
						total--;
						if (total>=1)
						{
						    var price=50*total;
						    $(".quantity1").val(total);
						     $("#price1").html(price+" AED");
						    
						}
						else{
						     var price=50*1;
						    $(".quantity1").val("1");
						    $("#price1").html(price+" AED");
						     
							}' id="minus1"><img src="img/minus.png" style="width:30%"  ></button>
			            <input type="button"  value="1" name="quantity" class="button quantity1" id="quantity">
			          	<button class="button" onclick='var total= $(".quantity1").val();
							if (total>=1)
							{
							    total++;
							    var price=50*total;
							    $(".quantity1").val(total);
							   $("#price1").html(price+" AED");
							}'> 
							<img src="img/plus.png" style="width:30%"> 
						</button>
			        </div>

			        <h4>Price</h4>
			        <div class="button-bar">
			            <button class="button" id="price1" style=" background:  #34495e; color: white; ">50<span>AED</span></button>
			            <!-- <button class="button"  style=" background:  #d35400; color: white; " ng-click="totalCount(1);">Add to Cart</button> -->
			           	<a href="#/addToCart"class="button"  id="b1" style="background: #d35400;color: white; width:35px;"ng-click="totalCount();" >Add to Cart</a>
			        </div>



	               	<h3>Ingredients</h3>
	               	<div class="list">
						<div class="item item-input-inset">
							<h2>1.Mushroom</h2>&nbsp;&nbsp;&nbsp;
							<label class="toggle  toggle-assertive">
								<input type="checkbox" checked>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
							<label class="item-input-wrapper">
								<input type="text" placeholder="Extras">
							</label>&nbsp;&nbsp;
						</div>
						<div class="item item-input-inset">
							<h2>2.Soya Chunks</h2>&nbsp;&nbsp;&nbsp;
							<label class="toggle toggle-assertive">
								<input type="checkbox" checked>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
							<label class="item-input-wrapper">
								<input type="text" placeholder="Extras">
							</label>&nbsp;&nbsp;
						</div>
					    <div class="item item-input-inset">
					    	<h2>3.Basmati rice</h2>&nbsp;&nbsp;&nbsp;
						 	<label class="toggle toggle-assertive">
							   <input type="checkbox" checked>
							   	<div class="track">
							     	<div class="handle"></div>
							   	</div>
							</label>&nbsp;&nbsp;
					 		<label class="item-input-wrapper">
					      		<input type="text" placeholder="Extras">
					    	</label>
					    </div>

					    <div class="item item-input-inset">
						    <h2>4.Onion</h2>&nbsp;&nbsp;&nbsp;
						    <label class="toggle toggle-assertive">
							   <input type="checkbox" checked>
							   	<div class="track">
							     	<div class="handle"></div>
							   	</div>&nbsp;&nbsp;
							</label>
						    <label class="item-input-wrapper">
						      	<input type="text" placeholder="Extras">
						    </label>
					  	</div>
					    <div class="item item-input-inset">
						    <h2>5.Tomato</h2>&nbsp;&nbsp;&nbsp;
						    <label class="toggle toggle-assertive">
							   <input type="checkbox" checked>
							   	<div class="track">
							     	<div class="handle"></div>
							   	</div>&nbsp;&nbsp;
							</label>
						    <label class="item-input-wrapper">
						      	<input type="text" placeholder="Extras">
						    </label>
					  	</div>
				  	</div>
	           		
				       
				        <div class="item " >
				          
				        </div>
				        <div class="item " >
				          
				        </div>
				    
            	</div>
    		</div>

      	</div>
          	

		
          	<div ng-repeat="ingred in menu.ingredients">
          		<ion-item class="item  item-trns text-center ">
                    {{ingred}}
          		</ion-item>
          	</div>

          
      	</ion-list>

      	
  	</ion-content>
</ion-view>
<!-- <script> 
 function plus(){
// 	alert("onclikc");
// }
//  $(document).ready(function () {
// 	$("#plus1").click(function()
//     { 
// 		var total= $(".quantity1").val();
		
// 		if (total>=1)
// 		{
// 		    total++;
// 		    var price=50*total;
// 		    $(".quantity1").val(total);
// 		   $("#price1").html(price+" AED");
// 		}

//     });
//     $("#minus1").click(function()
//     {
// 		var total= $(".quantity1").val();
// 		total--;
// 		if (total>=1)
// 		{
// 		    var price=50*total;
// 		    $(".quantity1").val(total);
// 		     $("#price1").html(price+" AED");
		    
// 		}
// 		else{
// 		     var price=50*1;
// 		    $(".quantity1").val("1");
// 		    $("#price1").html(price+" AED");
		     
// 		}
//     });

// });
	
// </script> -->
